{% if icinga_a2_http_port %}
<VirtualHost *:{{ icinga_a2_http_port }}>
    ServerName {{ icinga_a2_server_name }}
{% if icinga_a2_http2https %}
    Redirect permanent / https://{{ icinga_a2_server_name }}

    ErrorLog ${APACHE_LOG_DIR}/icinga-error.log
    CustomLog ${APACHE_LOG_DIR}/icinga-access.log combined
{% else %}
    ServerAdmin {{ icinga_a2_server_admin }}

    ErrorLog ${APACHE_LOG_DIR}/icinga-error.log
    CustomLog ${APACHE_LOG_DIR}/icinga-access.log combined

    DocumentRoot /usr/share/icinga/htdocs

{% endif %}
</VirtualHost>
{% endif %}

{% if icinga_a2_https_port %}
<IfModule mod_ssl.c>

<VirtualHost *:{{ icinga_a2_https_port }}>
    ServerName {{ icinga_a2_server_name }}
    ServerAdmin {{ icinga_a2_server_admin }}

    ErrorLog ${APACHE_LOG_DIR}/icinga-ssl-error.log
    CustomLog ${APACHE_LOG_DIR}/icinga-ssl-access.log combined

    DocumentRoot /usr/share/icinga/htdocs

    SSLEngine on
    SSLCertificateFile      {{ icinga_a2_ssl_cert_file }}
    SSLCertificateKeyFile   {{ icinga_a2_ssl_cert_keyfile }}
{% if icinga_a2_ssl_cert_chainfile %}
    SSLCertificateChainFile {{ icinga_a2_ssl_cert_chainfile }}
{% endif %}
    BrowserMatch "MSIE [2-6]" \
                nokeepalive ssl-unclean-shutdown \
                downgrade-1.0 force-response-1.0
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

</VirtualHost>

</IfModule>
{% endif %}
